/* 

How to calculate the block width

Block Width [in ems] = 
  (Full Width / (Em Width * Block Amount)) - 1.2 * Amount of Lines in Street

Note: Full Width must be a multiple of 18

*/

body {
  font: normal normal normal 15px Roboto;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  line-height: 1.2em;
}

.inner {
  width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 0 0;
}

blockquote {
  margin: 0 0 0 1.2em;
  font-style: italic;
}

section {
  padding-top: 18px;
  margin: 0;
}

/* Nav */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: white;
  border-bottom: 1px solid black;
}

nav .inner {
  position: relative;
  padding-top: .2em;
  padding-bottom: 1.1em;
}

nav a {
  text-align: center;
}

nav a span {
  display: block;
  padding-top: .7em;
  font-size: 1.5em;
}

/* Header */
header {
  width: 100%;
  text-align: center;
  background: #EEEEEE;
}

header .inner {
  position: relative;
  padding-top: 8.4em;
  padding-bottom: 6.6em;
}

header h1 {
  font-family: "Roboto";
  line-height: 1.2em;
  font-size: 12em;
  font-weight: 900;
  margin: .015em 0 0 0;
}

header p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: .35em;
  margin-top: .3em;
}

header p span {
  border: 1px solid #000000;
  border-width: 2px 0;  
  padding-bottom: .1em;
  padding-top: .1em;
}

header h2 {
  margin: 3.45em 0 0 0;
  padding: 0;
  font-size: 1em;
  line-height: auto;
}

header h2 span {
  display: block;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2em;
}

header h2 mark {
  background: none;
  display: block;
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 8em;
  line-height: 1.2em;
  margin-top: .17em;
}

header aside {
  position: absolute;
  right: 0;
  top: 11.9em;
  text-align: right;
}

header aside a {
  display: block;
  margin-bottom: 1em;
}

header aside a:hover span {
  visibility: visible;
  margin-right: .6em;
}

header aside a i {
  width: 1em;
  text-align: center;
  font-size: 1.4em;
}

header aside span {
  visibility: hidden;
}

/* Helper classes */
.span4 {
  display: block;
  width: 16.8em;
  margin-right: 1.2em;
  float: left;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 1080px) {
  .inner {
    width: 900px;
  }

  p {
    width: 28.8em;
  }
}

@media screen and (max-width: 900px) {
  .inner {
    width: 720px;
  }

  p {
    width: 22.8em;
  }
}

@media screen and (max-width: 720px) {
  .inner {
    width: 540px;
  }

  p {
    width: 100%;
    margin-right: 0;
  }
  p + p {
    margin-top: 1.2em;
  }
}